* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}

body {
    height: 100vh;
    background: linear-gradient(-100deg, #f8fbff, #ffffff);
}

.icon{
    width: 18px;
}

/* --------- Scroll bar ----------*/
/* Width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 6px;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: rgb(216, 216, 216);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(14, 37, 65);
}

/* --------- Inputs (Text/Num) ----------*/

input[type='text'], input[type="number"] {
    border-radius: 4px;
    padding: 7px 2px;
    border: none;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    border: 1px solid rgb(236, 236, 236);
}


input[type='text']::placeholder, input[type="number"]::placeholder {
    padding-left: 5px;
}

/* --------- Buttons and Links ----------*/
.hidden{
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
    user-select: none;
}
/* ---------------------- HEADER ----------------------*/
.header {
    display: flex;
    align-items: center;
    background-color: rgb(7, 0, 37);
    width: 100%;
    height: 50px;
    color: white;
}

.header>p:nth-child(1) {
    padding-left: 10px;
}
/* ---------------------- CONTAINER ----------------------*/
.apply_flex {
    display: flex;
}

/* ---------------------- SIDE MENU ----------------------*/
.side_menu {
    background: linear-gradient(100deg, #ececec, #ffffff);
    width: 250px;
    height: 95vh;
    box-shadow: 10px 2px 50px 5px rgba(0, 0, 0, 0.1);
    border-right: 2px solid #e9e9e9;
}

.checkbox{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.selection{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.title {
    padding: 10px;
    padding-bottom: 20px;
}

.center_text_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*main li*/
.side_menu_list>li:nth-child(odd) {
    background: linear-gradient(100deg,  #ffffff2a ,#ffffff);
    padding: 10px;
    margin: 5px 10px;
    border-bottom: 1px solid rgb(248, 248, 248);
    box-shadow: -3px 1px 3px 1px rgba(0, 0, 0, 0.1);
    list-style: none;
    border-radius: 10px;
}
/*submenu li*/
.side_menu_list>li:nth-child(even) {
    padding: 10px;
    margin: 5px 10px;
    border-bottom: 1px solid rgb(248, 248, 248);
    list-style: none;
}

.vin_search_bar>input {
    width: 100%;
}

#brands_available,#models_available{
    height: 150px;
    font-weight: normal;
    overflow-y: auto;
    overflow-x: hidden;
}

.mileage{
    display: flex;
    justify-content: space-evenly;
}
.mileage input{
    width: 40%;
}
.price{
    display: flex;
    justify-content: space-evenly;
}
.price input{
    width: 40%;
}

/* ---------------------- LIST OF CARS (TABLE) ----------------------  */
#first_row{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0px;
}

table{
    width: 100%;
}

#table_content,tr,td,th {
    border-spacing: 0;
    text-align: center;
}

tr,td{
    border-right: 1px solid rgba(165, 165, 165, 0.342);
    padding: 10px;
}

th {
    font-weight: normal;
    padding: 5px;
    color: white;
    background-color: rgb(14, 37, 65);
}

tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
    }

.list_container {
    margin: 50px 50px 0px 50px;
    width: 100%;
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

