* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden{
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}
/* ---------------------- HEADER ----------------------*/
.header {
    display: flex;
    align-items: center;
    background-color: rgb(7, 0, 37);
    width: 100%;
    height: 50px;
    color: white;
}

.header>p:nth-child(1) {
    padding-left: 10px;
    font-weight: bold;
}
/* ---------------------- CONTAINER ----------------------*/
.apply_flex {
    display: flex;
}

/* ---------------------- SIDE MENU ----------------------*/
.checkbox{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.selection{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.side_menu {
    background-color: rgb(241, 241, 241);
    min-width: 250px;
    height: 90vh;
}

.title {
    padding: 10px;
    padding-bottom: 20px;
}

.side_menu_list>li {
    padding: 10px;
    border-bottom: 1px solid rgb(189, 189, 189);
    font-weight: bold;
    list-style: none;
}

.vin_search_bar>input {
    width: 100%;
}

#brands_available,#models_available{
    height: 150px;
    font-weight: normal;
    overflow-y: auto;
    overflow-x: hidden;
}

/* ---------------------- LIST OF CARS (TABLE) ----------------------  */
#first_row{
    position: sticky;
    top: 0px;
}

button{
    user-select: none;
}

table{
    border: 1px solid rgb(215, 215, 215);
    width: 100%;
}

#table_content,tr,td,th {
    /* border: 1px solid rgba(0, 0, 0, 0.089); */
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}

th {
    background-color: rgb(243, 255, 254);
}

tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
    }

.list_container {
    margin: 50px 50px 0px 50px;
    width: 100%;
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}


