* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

.hidden{
    display: none;
}


a {
    color: inherit;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}

/* ---------------------- HEADER ----------------------*/
.header {
    display: flex;
    align-items: center;
    background-color: rgb(7, 0, 37);
    width: 100%;
    height: 50px;
    color: white;
}

.header>p:nth-child(1) {
    padding-left: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


/* ---------------------- CONTAINER ----------------------*/
.apply_flex {
    display: flex;
}

/* ---------------------- SIDE MENU ----------------------*/
.side_menu {
    background-color: rgb(241, 241, 241);
    min-width: 250px;
    height: 100vh;
}

.title {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.side_menu_list ul {
    list-style: none;
}
.side_menu_list>li {
    padding: 10px;
    border-bottom: 1px solid rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;
}

.sorting li {
    margin: 5px;
    padding: 5px;
}

.vin_search_bar>input {
    width: 100%;
}

/* ---------------------- LIST OF CARS ----------------------  */
.list_container {
    margin-left: 10px;
    padding-top: 50px;
    width: 100%;
    height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
}

.car{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(228, 228, 228);
    
}

.car>p {
    padding: 10px;
}



